{% extends "app_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<section class="container-fluid" id="dadu">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12 text-center" id="left-content">

			<h1>Dari & Untuk</h1>
			<p>Ingin chat si doi tapi gak berani langsung?</p>
			<p>Yuk kirim pesanmu di sini!</p>
			<!-- Trigger/Open the Modal -->
			<button class="btn btn-primary" id="myBtn">Kirim Pesan</button>	
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12" id="right-content">
			{% if msg_list_data %}
				{% for data in msg_list_data %}
					<div class="msg-box">
						<!-- Dari -->
						<div>
							<p><b>Dari :</b> {{ data.dari }}</p>
							<p><b>Untuk :</b> {{ data.untuk }}</p>
							<p><b>Pesan :</b> {{ data.pesan }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		
			<div id="page-btn">
				{% if msg_list_data.has_other_pages %}
					<ul class="pagination">
						{% if msg_list_data.has_previous %}
							<li><span><a href="{% url 'app-1:index' %}">&laquo;</a></span></li>
						{% else %}
							<li><span>&lsaquo;</span></li>
						{% endif %}

						{% for page_number in msg_list_data.paginator.page_range %}
							{% if msg_list_data.number == page_number %}
								<li class="active"><span>{{ page_number }}</span></li>
							{% else %}
								<li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
							{% endif %}
						{% endfor %}

						{% if msg_list_data.has_next %}
							<li><a href="?page={{ msg_list_data.paginator.num_pages }}">&raquo;</a></li>
						{% else %}
							<li><span>&raquo;</span></li>
						{% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		
		<!-- Modal Content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>Yuk kirim!</h2>
			<form method="POST" action="{% url 'app-1:add_msg' %}">
				{% csrf_token %}
				{{ msg_form }}
				<button type="submit" class="btn btn-primary" id="kirim-btn">
					KIRIM
				</button>
			</form>
		</div>
	</div>
</section>

{% endblock %}

<!-- Refrensi:
1. www.freepik.com
2. fonts.google.com
3. flatuicolor.com
4. w3schools.com
 -->