/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0.0.0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.modal-content form > .form-input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px 10px 10px 0px;
	width: 100%;
	box-sizing: border-box;
	color: #2c3e50;
	font-size: 13px;
}

.modal-content h2 {
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}

.modal-content label {
	font-size: 20px;
	margin-bottom: 5px;
}

#kirim-btn {
	margin: 2vh 20vw;
	font-size: 20px;
}

/* Small grid */
@media (max-width: 768px) {
	#kirim-btn {
		margin: 2vh 16vw;
	}
}

@media (max-width: 650px) {
	#kirim-btn {
		margin: 2vh 14vw;
	}
}

@media (max-width: 550px) {
	#kirim-btn {
		margin: 2vh 12vw;
	}
}

@media (max-width: 450px) {
	.modal-content h2 {
		font-size: 19px;
	}
	.modal-content label {
		font-size: 15px;
	}
	#kirim-btn {
		margin: 2vh 8.5vw;
	}
}

/* Extra small grid*/
@media (max-width: 380px) {
	.modal-content form > .form-input {
		height: 90%;
	}
	.modal-content h2 {
		font-size: 20px;
	}
	.modal-content label {
		font-size: 15px;
	}
	#kirim-btn {
		margin: 2vh 7vw;
	}
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.container-fluid {
	background-color: white;
}

/* Whole content */


/* Left-Content */
#left-content {
	padding: 200px 70px;
	background-color: #f1c40f;
	min-height: 650px;
	margin: auto;
	height: 100vh;
}

#left-content h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bolder;
	font-size: 50px;
	color: #fff;
}

#left-content p {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

#myBtn {
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

@media (max-width: 600px) {
	#left-content {
		padding: 200px 60px;
	}
}

@media (max-width: 500px) {
	#left-content {
		padding: 200px 15px;
	}
}

@media (max-width: 400px) {
	#left-content {
		padding: 200px 3px;
	}

	#left-content h1 {
		font-size: 30px;
	}

	#left-content p {
		font-size: 15px;
	}

	#myBtn {
		font-size: 15px;
	}
}


/* Right-Content */
#right-content {
	padding: 5rem;
	height: 100vh;
	background-color: #95a5a6;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	opacity: 0.5;
}

/* Message bubbles */
.msg-box {
	width: 90%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.25rem;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	font-family: 'Lato', sans-serif;
	word-wrap: break-word;
}

/* Page Button */
#page-btn {
	padding: 2vh 13vw;
}
.pagination {
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}


@media (max-width: 1270px) {
	#page-btn {
		padding: 2vh 10vw;
	}	
}

@media (max-width: 380px) {
	#page-btn {
		padding: 2vh 3vw;
	}
}
